<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>PluralSight Training: Config Server</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>pluralSight Training</h1>
            <p th:text="'Your rate is :'+${rateAmount}+' ,number of lanes is:'+${laneCount}+', Toll start time is:'+${tollStart}+', and Connection string is:'+${connString}"  />
        </div>
        <div class="col-md-2"></div>

    </div>

</body>
</html>